@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  background-color: black;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("../../Gotham/GothamLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../../Gotham/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../../Gotham/GothamBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../../Gotham/GothamBook.ttf");
  font-weight: normal;
  font-weight: normal;
}
